*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar{
    background-color: #34495e;
    width:100%;
}
.navbar-brand{
    color:white;
    font-size: 25px;
    font-weight: 900;
}
.navbar-brand:hover{
    color:pink;
}


span.navbar-toggler-icon{
    color:white;
}
.nav-link{
    color:white;
    text-decoration: none;
}
.nav-link:hover{
    color:aliceblue;
}
.nav-item{
    margin-right:20px;
    display:flex;
    font-size:18px;
    font-weight: 600;
}
.home-page{
    background: url("https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?size=626&ext=jpg&ga=GA1.2.1512621591.1662399105");
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
    height:90vh;
}
.fixed{
    height:60%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.front{
    text-align: center;
}
.front h2{
    font-size: 50px;
    color:rgb(20, 20, 63);
}
.front p{
    font-size: 20px;
    color:rgb(1, 1, 44);
}
@media (max-width:500px) {
    .front h2{
        font-size: 20px;
        color:rgb(20, 20, 63);
    }
    .front p{
        font-size: 15px;
        color:rgb(1, 1, 44);
    }
}
.search-bar{
    width:100%;
    max-width: 700px;
    height:60px;
    background:rgb(41, 41, 66);
    border: 1px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding:15px 20px;
    backdrop-filter: blur(4px)saturate(180%);
}
.search-bar input{
    background: transparent;
    flex:1;
    border:0;
    outline: 2px;
    font-size: 20px;
    padding: 24px 20px;
    color:#cac7ff;
}
::placeholder{
    color:#cac7ff;
}
.search-bar button i{
    width:25px;

}
.search-bar button{
    border:0;
    border-radius: 50%;
    width:50px;
    height:50px;
    background: #58629b;
    cursor:pointer;
}
.foot-page{
    background: url("https://img.freepik.com/free-vector/media-news-social-communication-infographics-set-with-charts-world-map-vector-illustration_1284-2940.jpg?size=338&ext=jpg&ga=GA1.2.1512621591.1662399105");
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
    height:60vh;

}
